.notes-wrapper {
  margin: auto;
  background-image: url("../../images/Body\ BG.png");
  min-height: 100vh;
  padding: 30px 0 62px 0;
  box-sizing: border-box;

  .inner-wrapper {
    width: 1000px;
    margin: auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1200px) {
  .notes-wrapper {
    .inner-wrapper {
      width: 640px;
    }
  }
}

@media screen and (max-width: 768px) {
  .notes-wrapper {
    padding-top: 20px;
    .inner-wrapper {
      width: 100%;
      padding: 0 24px;
    }
  }
}
